# This 1 juypter notebook contains images, and tables, 
# blowing up the total language fraction unrealistically; 
# I simply exclude this file from counting.
# ES-EKF[[:space:]]Estimator/EKF/EKF.ipynb linguist-vendored=true
# Visual[[:space:]]Perception/Visual[[:space:]]Odometry/*.ipynb linguist-vendored=true
# Visual[[:space:]]Perception/Environment[[:space:]]Perception/*.ipynb linguist-vendored=true
# MotionPlanner/OccupancyGrid/OccupancyGrid.ipynb linguist-vendored=true
*/*/*.ipynb linguist-vendored=true
